<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ContabilidadAPI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <!-- Azure Document Intelligence Configuration -->
          <!-- Configura estos valores con tus claves reales en el servidor de producción -->
          <environmentVariable name="AzureDocumentIntelligence__Endpoint" value="https://your-resource-name.cognitiveservices.azure.com" />
          <environmentVariable name="AzureDocumentIntelligence__SubscriptionKey" value="YOUR_AZURE_KEY_HERE" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>